<div class="container-fluid banner page-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="page-title">Manage Accounts</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h4>Connect with the following services</h4>
      <hr>
      <ul>
        <li><img class="service-icon" src="img/facebook-icon.png"></li>
        <li><img class="service-icon" src="img/google-icon.png"></li>
        <li><img class="service-icon" src="img/twilio-icon.png"></li>
        <li><img class="service-icon" src="img/dropbox-icon.png"></li>
      </ul>
    </div>
  </div>
</div>

<button class="btn btn-danger js-fb-login">Sign In With Facebook</button>
<p id="fb-login-status"></p>

<button class="btn btn-danger js-db-login">Sign In With Dropbox</button>
<p id="db-login-status"></p>
