<div class="container-fluid banner page-banner">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <h1 class="page-title">Manage Accounts</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
   <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h4>Connect with the following services</h4>
      <hr>
      <ul class="accounts-list">
        <li>
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object service-icon" src="img/facebook-icon.png">
            </a>
            <div class="media-body">
              <h3 class="media-heading">Facebook</h3>
              <p>Nimble gives you the option to share any webpage you are on to Facebook, or any text that you have highlighted on the screen. It is extremely easy to use even if there are no built-in share to Facebook buttons. No more hassle of switching to Facebook </p>
              <button class="btn btn-default js-fb-login">Sign In With Facebook</button>
              <div class="well" id="fb-login-status"></div>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object service-icon" src="img/dropbox-icon.png">
            </a>
            <div class="media-body">
              <h3 class="media-heading">Dropbox</h3>
              <p>There are many things we see on webpages that we would like to archive and refer later. Dropbox is the perfect service to save images and media files.</p>
              <button class="btn btn-default js-db-login">Sign In With Dropbox</button>
              <div class="well" id="db-login-status"></div>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object service-icon" src="img/twilio-icon.png">
            </a>
            <div class="media-body">
              <h3 class="media-heading">Twilio</h3>
              <p>Twilio provides communication at your fingertips! Select some text or a link and send it to a US mobile number. It is as easy as that!</p>
              <!-- <button class="btn btn-default js-tw-login">Sign In With Twilio</button> -->
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object service-icon" src="img/google-icon.png">
            </a>
            <div class="media-body">
              <h3 class="media-heading">Google</h3>
              <p>Shorten your URLs with this awesome Google URL shortener.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object service-icon" src="img/onenote-icon.png">
            </a>
            <div class="media-body">
              <h3 class="media-heading">Microsoft OneNote</h3>
              <p>OneNote placeholder text.</p>
              <button class="btn btn-default js-live-login">Sign In With Windows Live</button>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


