<div class="container-fluid banner">
  <img class="logo" src="img/nimble-logo.png">
  <h3 class="caption">Supercharge your web surfing experience today</h3>
  <button class="btn btn-primary">Start Now</button>
</div>
<div class="container landing-content">
  <h2>Supports integration with</h2>
  <ul class="integration-platforms">
    <li><img class="service-icon invisible" src="img/facebook-icon.png"></li>
    <li><img class="service-icon invisible" src="img/google-icon.png"></li>
    <li><img class="service-icon invisible" src="img/twilio-icon.png"></li>
    <li><img class="service-icon invisible" src="img/dropbox-icon.png"></li>
  </ul>
</div>
