<div class="banner">
  <!-- <img class="logo" src="img/nimble-logo.png"> -->
  <h3 class="caption">Supercharge your web surfing experience</h3>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <ul class="integration-platforms">
        <li><img class="service-icon invisible" src="img/facebook-icon.png"></li>
        <li><img class="service-icon invisible" src="img/google-icon.png"></li>
        <li><img class="service-icon invisible" src="img/twilio-icon.png"></li>
        <li><img class="service-icon invisible" src="img/dropbox-icon.png"></li>
        <li><img class="service-icon invisible" src="img/chrome-icon.png"></li>
        <li><img class="service-icon invisible" src="img/pastebin-icon.png"></li>
        <li><img class="service-icon invisible" src="img/onenote-icon.png"></li>
      </ul>
    </div>
  </div>
  <h3 class="caption">Productivity at your fingertips</h3>
  <a class="btn btn-primary btn-lg" href="#/accounts">Start Now</a>
</div>
<h3 class="text-center">Look Ma, no mouse!</h3>
